my_data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- COMPLEX TYPES.-XSD file -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- 1. Root Element -->
  <xs:element name="library">
    <xs:complexType>
      <xs:sequence>
        
        <!-- 2. Book Element (Can repeat 'unbounded' times) -->
        <xs:element name="book" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              
              <!-- 3. Simple Elements -->
              <xs:element name="title" type="xs:string"/>
              <xs:element name="author" type="xs:string"/>
              <xs:element name="year" type="xs:integer"/>
              
              <!-- 4. Complex Element with Text AND Attribute -->
              <!-- This is tricky: We want text (19.99) AND an attribute (currency) -->
              <xs:element name="price">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="currency" type="xs:string" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>